#output1 {
  display: none;
}

#output2 {
  display: none;
}

#output3 {
  display: none;
}

#output4 {
  display: none;
}

#output5 {
  display: none;
}

#output6 {
  display: none;
}

#output7 {
  display: none;
}

#output8 {
  display: none;
}
